<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultrag.net.nz/thymeleaf/layout"
      layout:decorate="admin/dashboardLayout.html">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Tables - SB Admin</title>


    <link th:href="@{../css/styles.css}" rel="stylesheet"/>

</head>
<body class="sb-nav-fixed">
<div layout:fragment="content">

    <div class="card my-3">
        <div class="card-header fw-bold d-flex justify-content-between">
            <div class="d-flex flex-row mb-3 align-items-center" >
                <i class="fas fa-table me-1"></i>
                <p class="m-0"> HÔM NAY <span th:text="${#dates.format(#dates.createNow(), 'yyyy-MM-dd')}"></span></p>
            </div>

            <div class="">
                <form th:action="@{/admin/booking}" method="get" class="d-flex flex-row">
                    <input type="text" id="disabledTextInput" class="form-control" placeholder="Tìm kiếm" name="keyword" >
                    <button type="submit" class="btn btn-dark ms-2" >Tìm</button>
                </form>
            </div>
        </div>
        <div class="card-body">
            <div class="data_table">
                <table id="example" class="table ">
                    <thead class="table-dark">
                    <tr>
                        <th>MÃ / TIME</th>
                        <th>THÔNG TIN CÁ NHÂN</th>
                        <th>CHUYẾN XE</th>
                        <th>KHỞI HÀNH</th>
                        <th>ĐIỂM ĐẾN</th>
                        <th>GHẾ NGỒI</th>
                        <th>TRẠNG THÁI</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr th:each="booking : ${listBooking}"
                            th:classappend="${booking.status.getStatus() == 'PENDING' ? 'bg-warning bg-opacity-25 ' :
                            (booking.status.getStatus() == 'CANCELLED' ? 'bg-danger bg-opacity-25 ' :
                            (booking.status.getStatus() == 'PAID' ? 'bg-success bg-opacity-25 ' : 'bg-primary bg-opacity-25'))}"
                            >
                            <td>
                                <p>Mã: <span class="m-0" th:text="${booking.getId()}"></span></p>
                                <p class="m-0" th:text="${#temporals.format(booking.getDateCreated(), 'dd/MM/yyyy')}"></p>
                                <p class="m-0" th:text="${#temporals.format(booking.getDateCreated(), 'HH:mm:ss')}"></p>
                            </td>
                            <td>
                                <b th:text="${booking.getPhoneNumber() != null ? booking.getPhoneNumber() : '&nbsp;'}"></b>
                                <p class="m-0 fw-bold"
                                   th:text="${booking.getFullName() != null ? booking.getFullName() : '&nbsp;'}"></p>
                                <p class="m-0" th:text="${booking.getEmail() != null ? booking.getEmail() : '&nbsp;'}"></p>
                            </td>
                            <td>
                                <b th:text="${booking.getTrip().getName() != null ? booking.getTrip().getName() : '&nbsp;'}"></b>
                            </td>
                            <td>
                                <b th:text="${booking.getTrip().getStartDate() != null ? booking.getTrip().getStartDate() : '&nbsp;'}"></b>
                                <p class="m-0"
                                   th:text="${booking.getDeparture().getStopName() != null ? booking.getDeparture().getStopName() : '&nbsp;'}"></p>
                            </td>
                            <td>
                                <b th:text="${booking.getTrip().getEndDate() != null ? booking.getTrip().getEndDate() : '&nbsp;'}"></b>
                                <p class="m-0"
                                   th:text="${booking.getArrival().getStopName() != null ? booking.getArrival().getStopName() : '&nbsp;'}"></p>
                            </td>
                            <td>
                                <b>
                                    <span th:each="ticket : ${booking.getTickets()}">
                                        <span th:text="${ticket.getSeatName() != null ? ticket.getSeatName() : '&nbsp;'}"></span>,
                                    </span>
                                </b>
                            </td>
                            <td>
                                <b th:text="${booking.getStatus().getDisplayName()}"></b>
                            </td>
                            <td>
                                <a th:href="@{/admin/updateStatus(id=${booking.getId()}, action='cancel')}"
                                   class="btn btn-warning"><i class="fa-solid fa-xmark fs-5"></i></a>
                                <th:block th:if="${booking.status.getStatus() eq  'PENDING'}">
                                    <a th:href="@{/admin/updateStatus(id=${booking.getId()}, action='confirm')}"
                                       class="btn btn-success"><i class="fa-solid fa-check fs-5"></i></a>
                                </th:block>
                            </td>
                        </tr>
                    </tbody>

                    <!-- Modal Xác nhận Hủy -->
                    <div class="modal fade" id="confirmCancelModal" tabindex="-1" role="dialog" aria-labelledby="confirmCancelLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="confirmCancelLabel">Xác nhận hủy vé</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    Bạn có chắc chắn muốn hủy vé không?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Không</button>
                                    <button type="button" class="btn btn-danger" id="confirmCancelButton">Có, hủy vé</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </table>

            </div>

            <nav aria-label="Page navigation">
                <ul class="pagination d-flex flex-row">
                    <li class="page-item" th:classappend="${currentPage == 1 ? 'disabled' : ''}">
                        <a class="page-link" th:href="@{/admin/booking(page=1)}">First</a>
                    </li>
                    <li class="page-item" th:classappend="${currentPage == 1 ? 'disabled' : ''}">
                        <a class="page-link" th:href="@{/admin/booking(page=${currentPage - 1})}">Previous</a>
                    </li>
                    <!-- Hiển thị "..." nếu có thêm trang ở đầu -->
                    <li class="page-item" th:if="${startPage > 1}">
                        <span class="page-link">...</span>
                    </li>
                    <li class="page-item" th:each="i : ${#numbers.sequence(startPage, endPage)}"
                        th:classappend="${currentPage == i ? 'active' : ''}">
                        <a class="page-link" th:href="@{'/admin/booking' +  ${ keyword != null && keyword != ' ' ? '?keyword=' + keyword + '&' : '?'}  + 'page='+${i} }" th:text="${i}"></a>
                    </li>

                    <!-- Hiển thị "..." nếu có thêm trang ở cuối -->
                    <li class="page-item" th:if="${endPage < totalPages - 1}">
                        <span class="page-link">...</span>
                    </li>

                    <li class="page-item"
                        th:classappend="${currentPage == totalPages  ? 'disabled' : ''}">
                        <a class="page-link" th:href="@{/admin/booking(page=${currentPage + 1})}">Next</a>
                    </li>
                    <li class="page-item"
                        th:classappend="${currentPage == totalPages  ? 'disabled' : ''}">
                        <a class="page-link" th:href="@{/admin/booking(page=${totalPages })}">Last</a>
                    </li>
                </ul>
            </nav>
        </div>

    </div>
</div>

<th:block layout:fragment="script">
    <!--            bootstrap 5.2.3 js-->
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</th:block>

</body>
</html>
