<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultrag.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<footer class="text-center text-lg-start text-dark "
        style="background-color: #ECEFF1; margin-top: 100px" th:fragment="footer">
    <!-- Section: Social media -->
    <section
            class="d-flex justify-content-between p-4 text-white"
            style="background-color: #0D572B">
        <!-- Left -->
        <div class="me-5">
            <span>Hãy kết nối với chúng tôi trên các mạng xã hội:</span>
        </div>
        <!-- Left -->

        <!-- Right -->
        <div >
            <a href="" class="text-white me-4" >
                <i class="bi bi-facebook"></i>
            </a>
            <a href="" class="text-white me-4">
                <i class="bi bi-twitter"></i>
            </a>
            <a href="" class="text-white me-4" >
                <i class="bi bi-google"></i>
            </a>
            <a href="" class="text-white me-4" >
                <i class="bi bi-instagram"></i>
            </a>
            <a href="" class="text-white me-4" >
                <i class="bi bi-linkedin"></i>
            </a>
            <a href="" class="text-white me-4" >
                <i class="bi bi-github"></i>
            </a>
        </div>
        <!-- Right -->
    </section>
    <!-- Section: Social media -->

    <!-- Section: Links  -->
    <section class="">
        <div class="container text-center text-md-start mt-5">
            <!-- Grid row -->
            <div class="row mt-3">
                <!-- Grid column -->
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <!-- Content -->
                    <h6 class="text-uppercase fw-bold">XURYBUS</h6>
                    <hr
                            class="mb-4 mt-0 d-inline-block mx-auto"
                            style="width: 60px; background-color: #7c4dff; height: 2px"
                    />
                    <p>
                        Trải qua hơn 10 năm hoạt động, Công ty Cổ phần vận tải và dịch vụ du lịch Hoàng Văn Tú
                        với thương hiệu XURYBUS đã góp phần tích cực trong việc thúc đẩy giao thương,
                        đi lại giữa TP. Đà Nẵng với các tỉnh phía Bắc.
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold">CHÍNH SÁCH CÔNG TY</h6>
                    <hr
                            class="mb-4 mt-0 d-inline-block mx-auto"
                            style="width: 60px; background-color: #7c4dff; height: 2px"
                    />
                    <p>
                        <a href="https://www.facebook.com/tusteej/" class="text-dark ">Giới thiệu</a>
                    </p>
                    <p>
                        <a href="https://www.facebook.com/tusteej/" class="text-dark">Liên hệ</a>
                    </p>
                    <p>
                        <a href="https://www.facebook.com/tusteej/" class="text-dark">Chính sách sử dụng</a>
                    </p>
                    <p>
                        <a href="https://www.facebook.com/tusteej/" class="text-dark">Điều khoản sủ dụng</a>
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold">TUYẾN NỔI BẬT</h6>
                    <hr
                            class="mb-4 mt-0 d-inline-block mx-auto"
                            style="width: 60px; background-color: #7c4dff; height: 2px"
                    />
                    <p>
                        <a href="https://www.facebook.com/tusteej/" class="text-dark ">Đà nẵng - Hà tĩnh</a>
                    </p>
                    <p>
                        <a href="https://www.facebook.com/tusteej/" class="text-dark">Đà nẵng - Thanh hóa</a>
                    </p>
                    <p>
                        <a href="https://www.facebook.com/tusteej/" class="text-dark">Đà nẵng - Nghệ an</a>
                    </p>
                    <p>
                        <a href="https://www.facebook.com/tusteej/" class="text-dark">Đà nẵng - Thái bình</a>
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold">LIÊN HỆ</h6>
                    <hr
                            class="mb-4 mt-0 d-inline-block mx-auto"
                            style="width: 60px; background-color: #7c4dff; height: 2px"
                    />
                    <p><i class="bi bi-house-fill"></i> Thanh khê. Đà nẵng. Việt Nam</p>
                    <p><i class="bi bi-envelope-fill"></i> hoangvantunkv@gmail.com</p>
                    <p><i class="bi bi-telephone-fill"></i> + 0971 025 XXX</p>
                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row -->
        </div>
    </section>
    <!-- Section: Links  -->

    <!-- Copyright -->
    <div
            class="text-center p-3"
            style="background-color: rgba(0, 0, 0, 0.2)"
    >
        © Copyright :
        <a class="text-dark" href="https://www.facebook.com/tusteej/"
        >XURYBUS by HoangVanTu</a
        >
    </div>
    <!-- Copyright -->
</footer>
</body>
</html>