<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultrag.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg" style="height: 100px; box-shadow: 0px 10px 15px 0px rgba(0,0,0,0.1);" th:fragment="header">
        <div class="container  h-100">
            <div class="d-flex justify-content-start align-items-center h-100">
                <a class="navbar-brand fw-bold text-theem" href="/">XURIBUS</a>
                <div class="ms-5 d-flex align-self-end">
                    <a class="navbar-brand text-success" href="#">Trang chủ</a>
                    <a class="navbar-brand text-success" href="#">Hướng dẫn đặt vé</a>
                    <a class="navbar-brand text-success" href="#">Quản lý vé</a>
                </div>
            </div>
            <div class="d-flex justify-content-end">
                <a class="navbar-brand fw-bold text-success" href="#">Hotline : 0989 026 888</a>
            </div>
        </div>
    </nav>
</body>
</html>