<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultrag.net.nz/thymeleaf/layout"
      layout:decorate="public/layout-static.html">// kế thừa layout static
<head>
    <meta charset="UTF-8">
    <title>Title</title><style>
    @media (min-width: 992px) {

        #introCarousel,
        .carousel-inner,
        .carousel-item,
        .carousel-item.active {
            height: 70vh;
        }
    }

    #introCarousel .carousel-item {
        background-color: #0D572B;
    }

    .text-theem {
        color: #0D572B !important;
    }
</style>
</head>

<body>
<div layout:fragment="content">
    <div id="introCarousel" class="carousel slide carousel-fade shadow-2-strong">
        <div class="carousel-item active">
            <div class="container d-flex justify-content-center d-flex align-items-center h-100 ">
                <div class=" text-white fw-light ms-5 mb-5">
                    <p class="mb-1 fs-4">Xe khách chất lượng cao</p>
                    <p class="fw-normal fs-2" th:text="${route.getName()}"></p>
                    <p class="mb-2 fs-5"><i class="bi bi-house-fill pe-2"></i>Giường rộng rãi thoải mái</p>
                    <p class="mb-2 fs-5"><i class="bi bi-person-hearts pe-2"></i>Khăn Nước Chăn Gối tiêu chuẩn</p>
                    <p class="mb-4 fs-5"><i class="bi bi-wifi pe-2"></i>Wifi miễn phí</p>

                    <a class="btn col-10 bg-black text-white p-3" th:href="@{/public/schedule}" role="button">ĐẶT VÉ NGAY</a>
                </div>

                <div class="col-8 d-flex justify-content-end">
                    <div class="col-8 gx-5 me-5">
                        <div class="bg-image hover-overlay shadow-2-strong " data-mdb-ripple-init data-mdb-ripple-color="light">
                            <img src="/images/bus1.png" class="img-fluid" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!--Main layout-->
    <main class="mt-5">
        <div class="container">
            <!--Section: Content-->
            <section>
                <div class="row">
                    <div class="col-md-6  mb-4">
                        <h4 class="text-center d-flex align-items-center flex-column">
                            <strong class="mb-2">Hình ảnh dòng xe VIP 34 phòng</strong>
                            <div class="pt-1 bg-success  mb-4 col-2 d-flex justify-content-center"></div>
                        </h4>

                        <div class="bg-image hover-overlay shadow-2-strong" data-mdb-ripple-init data-mdb-ripple-color="light">
                            <img src="../images/VIP1.jpg" class="img-fluid" />


                            <a href="#!">
                                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                            </a>
                        </div>
                    </div>

                    <div class="col-md-6  mb-4">
                        <h4 class="text-center d-flex align-items-center flex-column">
                            <strong class="mb-2">Hình ảnh dòng xe Thường 44 phòng</strong>
                            <div class="pt-1 bg-success  mb-4 col-2 d-flex justify-content-center"></div>
                        </h4>
                        <div class="bg-image hover-overlay shadow-2-strong" data-mdb-ripple-init data-mdb-ripple-color="light">
                            <img src="../images/thuong1.jpg" class="img-fluid" />
                            <a href="#!">
                                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                            </a>
                        </div>
                    </div>
                </div>
            </section>
            <!--Section: Content-->

            <hr class="my-5" />

            <!--Section: Content-->
            <section>
                <h4 class="mb-5 text-center"><strong>DỊCH VỤ TRÊN XE </strong><strong th:text="${route.getName()}"></strong></h4>

                <div class="row d-flex justify-content-around pb-4">
                    <div class="col-5 ">
                        <p>XURYBUS hơn 10 năm qua luôn tự hào là nhà xe giường nằm cao cấp <strong th:text="${route.getName()}"></strong> có
                            chất lượng phục vụ hàng đầu, dàn xe của chúng tôi luôn được đầu tư làm mới để khách hàng
                            có được trải nghiệm tốt nhất trên mỗi chuyến đi. Khi đến với <strong class="text-theem">nhà xe
                                XURY</strong>, bạn sẽ được:</p>
                        <div class="pt-1 bg-success  mb-4 col-2 d-flex justify-content-center"></div>
                        <p><i class="bi bi-arrow-right-circle-fill pe-2" ></i>Đặt chỗ thuận tiện, nhanh chóng qua điện thoại mà <strong class="text-theem">không cần mua vé
                            trước</strong>.</p>
                        <hr class="my-1" />
                        <p><i class="bi bi-map-fill pe-2" ></i>Đón xe <strong class="text-theem">không cần phải đợi lâu</strong> nhờ tính năng KIỂM TRA VỊ TRÍ XE.
                            Xem chi tiết tại: <strong class="text-theem">Hướng dẫn kiểm tra vị trí xe.</strong></p>
                        <hr class="my-1" />
                        <p><i class="bi bi-ban-fill pe-2" ></i>Chúng tôi luôn gọi điện thoại nhắc lại chuyến đi của bạn <strong class="text-theem">ít nhất 2
                            lần</strong> trước khi xuất phát.</p>
                        <hr class="my-1" />
                        <p><i class="bi bi-wifi pe-2" ></i>Khăn lạnh, nước uống, gối, chăn luôn <strong class="text-theem">thơm tho, sạch sẽ</strong>. Đặc biệt,
                            wifi <strong class="text-theem">không giới hạn</strong> dung lượng sử dụng.</p>
                        <hr class="my-1" />
                        <p><i class="bi bi-universal-access pe-2" ></i>  Xe dừng để khách vệ sinh <strong class="text-theem">ít nhất 2 lần</strong> (có nhà vệ sinh đàng hoàng,
                            mỗi lần cách nhau 3 hoặc 4 tiếng)
                            và sẽ dừng bất cứ khi nào Quý khách yêu cầu. Xem chi tiết tại: <strong class="text-theem">Lịch vệ sinh cố
                                định.</strong></p>
                    </div>

                    <div class="col-5 d-flex align-items-center align-items-center " style="border:3px dashed #0D572B ;">
                        <div class="p-5">
                            <h4 class="text-center">PHÒNG VÉ TẠI TP. ĐÀ NẴNG</h4>
                            <p><i class="bi bi-map-fill pe-2"></i>Địa chỉ : <strong class="text-theem">Bến xe Trung Tâm Đà Nẵng, Tôn Đức Thắng, phường Hòa Minh, Quận
                                Liên Chiểu, Đà Nẵng.</strong> </p>
                            <p><i class="bi bi-telephone-fill pe-2"></i> Số điện thoại liên hệ:<strong class="text-theem"> 0905 888 547</strong></p>
                        </div>
                    </div>
                </div>

                <hr class="my-5" />
            </section>
        </div>

        <h4 class="mb-5 text-center"><strong>QUY ĐỊNH CƠ BẢN</strong></h4>
        <div class="" style="background-color: #0D572B;">
            <div class="container ">
                <div class=" row d-flex justify-content-around text-white">
                    <div class=" my-5 col-md-5 gx-5 d-flex align-items-center flex-column" style="border:3px dashed #ffffff ;">
                        <div class="px-2  py-5">
                            <h4 class="text-center ">HÀNH LÝ KÝ GỬI</h4>
                            <p> Tư trang, tiền, vàng bạc có giá trị, đồ vật dễ vỡ, các thiết bị điện tử, các giấy tờ có tính pháp
                                lý,… quý khánh nên mang theo bên người,
                                chúng tôi không chịu trách nhiệm lưu giữ và đền bù nếu xảy ra mất mát.</p>
                            <p>Chúng tôi chỉ miễn phí đối với hành lý ký gửi dưới 15kg. Nếu hành lý của quý khách vượt quá giới hạn
                                cho phép,
                                nhân viên của chúng tôi sẽ thu thêm phí.</strong></p>
                        </div>
                    </div>

                    <div class=" my-5 col-md-5 gx-5 d-flex align-items-center flex-column" style="border:3px dashed #ffffff ;">
                        <div class="px-2 py-5">
                            <h4 class="text-center">HÀNH KHÁCH ĐI KÈM</h4>
                            <p>Chúng tôi chỉ miễn phí cho hành khách đi kèm có chiều cao dưới 1.2m. Nếu vượt quá giới hạn cho phép,
                                nhân viên của chúng tôi sẽ coi là một hành khách bình thường.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <hr class="my-5" />
            <!--Section: Content-->
            <section class="mb-5">
                <h4 class="mb-5 text-center"><strong>CHƯƠNG TRÌNH KHUYẾN MÃI</strong></h4>
                <div class="row d-flex justify-content-around ">
                    <div class="col-md-5 gx-5 d-flex align-items-center flex-column" style="border:3px dashed #0D572B ;">
                        <div class="py-5 w-100">
                            <h4 class="pb-4 text-center">HÀNH LÝ KÝ GỬI</h4>
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th scope="col">Vị trí</th>
                                    <th scope="col">Thời gian đi</th>
                                    <th scope="col">Thời gian đến</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td th:text="${routeInformation.getDepartureLocation()}" ></td>
                                    <td th:text="${routeInformation.getDepartureTime()}" ></td>
                                    <td th:text="${routeInformation.getArrivalTime()}"></td>
                                </tr>
                                <tr>
                                    <td th:text="${routeInformation.getArrivalLocation()}" ></td>
                                    <td th:text="${routeInformation.getDepartureTime1()}" ></td>
                                    <td th:text="${routeInformation.getArrivalTime1()}"></td>
                                </tr>
                                <tr>
                                    <td th:attr="rowspan=${routeInformation.getPriceLists().size()} + 1" >Giá vé</td>
                                </tr>
                                <tr th:each="price : ${routeInformation.getPriceLists()}">
                                    <td th:text="${price.getName()}" ></td>
                                    <td th:text="${#numbers.formatCurrency(price.getPrice())}"></td>
                                </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="col-md-5 gx-5 d-flex align-items-center flex-column" style="border:3px dashed #0D572B ;">
                        <div class="px-2 py-5">
                            <h4 class="pb-4 text-center">HÀNH KHÁCH ĐI KÈM</h4>
                            <p><i class="bi bi-gift-fill pe-2"></i>Giảm giá 50% khi tích lũy được 20 chuyến.</p>
                            <p><i class="bi bi-gift-fill pe-2"></i>Giảm giá 20% khi tích lũy được từ 10 – 19 chuyến.</p>
                            <p><i class="bi bi-gift-fill pe-2"></i>Giảm giá 5% khi tích lũy được từ 5 – 9 chuyến.</p>
                            <a class="mt-4 btn col-8 bg-success text-white " href="#" role="button">ĐẶT VÉ NGAY</a>
                        </div>
                    </div>
                </div>
            </section>
            <!--Section: Content-->
            <hr class="my-5" />

        </div>

        <h4 class="mb-5 text-center"><strong>HƯỚNG DẪN ĐẶT VÉ</strong></h4>
        <div class="" style="background-color: #0D572B;">
            <div class="container ">
                <div class=" row d-flex justify-content-around text-white">
                    <div class=" my-5 col-md-5 gx-5 d-flex align-items-center flex-column" style="border:3px dashed #ffffff ;">
                        <div class="px-2  py-5 col-10">
                            <h4 class="text-center pb-4">HÀNH LÝ KÝ GỬI</h4>
                            <table class="table table-bordered text-white">
                                <tbody>
                                <tr>
                                    <td>Tổng đài đặt vé	</td>
                                    <td><strong>0971 0255 xxx</strong></td>
                                </tr>
                                <tr>
                                    <td>Gửi hàng hóa</td>
                                    <td><strong>0971 0255 xxx</strong></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class=" my-5 col-md-5 gx-5 d-flex justify-content-center align-items-center" style="border:3px dashed #ffffff ;">
                        <div class="px-2 py-5 col-6 ">
                            <a class=" btn col-12 bg-success text-white p-3 fw-bold" th:href="@{/public/schedule}" role="button"><i class="bi bi-arrow-right-circle-fill pe-2"></i>ĐẶT VÉ TRỰC TUYẾN</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>
</div>
<!--Main layout-->
</body>
</html>